<% content_for(:page_title, 'Most recent batch files') %>

<%= turbo_stream_from :batches %>
<div class="card">
  <div class="card-header">
    <select 
        class="form-select w-25"
        data-controller="select"
        data-action="select#change">
      <option value="<%= tds_batches_path %>">All</option>
      <option <%= params[:filter] == 'pireps' ? 'selected' : ''%> value="<%= tds_batches_path(filter: 'pireps') %>">PIREPs</option>
      <option value="<%= tds_batches_path(filter: 'metars') %>">METARs</option>
      <option value="<%= tds_batches_path(filter: 'tafs') %>">TAFs</option>
      <option value="<%= tds_batches_path(filter: 'failed') %>">Failed</option>
      <option value="<%= tds_batches_path(filter: 'pending') %>">Pending</option>
    </select>
  </div>
  <%= turbo_frame_tag :batches do %>
    <div class="card-body">
      <%= render partial: "tds/batches/batch", collection: batches, cached: true %>
    </div>
    <div class="card-footer text-muted">
      <%== pagy_bootstrap_nav(dr_pagy, link_extra: "data-turbo-action='advance'") %>
    </div>
  <% end %>
</div>
