<h1>1985</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/1.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/2.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/3.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/4.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/5.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/6.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/7.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/8.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/9.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/10.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/11.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/12.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/13.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/14.jpg', class: 'card-img-top' %>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <%= image_tag 'romanchuk_open/1985/15.jpg', class: 'card-img-top' %>
    </div>
  </div>
</div>