
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{active_class(root_path)}", data: { turbo_frame: "_top" } %>
        </li>
        <!-- <li class="nav-item">
          <%# link_to "Resume", s_resume_path, class: "nav-link #{active_class(s_resume_path)}", data: { turbo_frame: "_top" } %>
        </li> -->
        <li class="nav-item">
          <%= link_to "Scratchpad", posts_path, class: "nav-link #{active_class(posts_path)}", data: { turbo_frame: "_top" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Playgrounds", page_path("playgrounds"), class: "nav-link #{active_class(page_path("playgrounds"))}", data: { turbo_frame: "_top" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Flying", page_path("flying"), class: "nav-link #{active_class(page_path("flying"))}", data: { turbo_frame: "_top" } %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="">
            Data
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><%= link_to "Batches", pireps_batch_files_path, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <%= form_with(url: posts_path, method: :get, data: {controller: "search", search_target: "form", turbo_frame: 'posts'}, class: 'd-flex') do |f| %>
        <%= f.text_field(:q, class: "form-control", placeholder: "Find a snippet", data: {action: 'input->search#submit', search_target: 'input'}) %>
      <% end %>
    </div>
  </div>
</nav>
