

<% content_for(:page_title) { 'All recent aircraft reports' } %>
<div class="row row-cols p-2">
<div data-controller="maps" data-maps-geo-json-value="<%= points_wx_pireps_path(format: :json) %>">
  <div id="map" style="width:100%; height:400px"> </div>
</end>
</div>

<%= turbo_stream_from :pireps %>
<%= turbo_frame_tag :pireps_header do %>

  <nav class="nav nav-pills nav-fill mt-3">
    <%= link_to "All", wx_pireps_path, class: "nav-link #{params[:filter].blank? ? 'active' : ''}", data: {turbo_action: :replace, turbo_frame: :_top} %>
    <%= link_to "URGENT", wx_pireps_path(filter: 'uua'), class: "nav-link #{params[:filter] == 'uua' ? 'active' : ''}", data: {turbo_action: :replace, turbo_frame: :_top} %>
    <%= link_to "ROUTINE", wx_pireps_path(filter: 'ua'), class: "nav-link #{params[:filter] == 'ua' ? 'active' : ''}", data: {turbo_action: :replace, turbo_frame: :_top} %>
  </nav>
  <hr/>
<% end %>


<%= turbo_frame_tag :pireps do %>
  <%= render pireps %>
  <%= render "pager" %>
<% end %>





