<%- content_for(:page_title) { "Resume" } %>

<% content_for :head do %>
  <script src="/static/pdfjs-dist/build/pdf.min.js" data-turbo-track="reload"></script> 
  <script src="/static/pdfjs-dist/web/pdf_viewer.js" data-turbo-track="reload"></script>
<% end %>

<%= render 'shared/me' %>


<% content_for :offcanvas do %>
  <%= render OffCanvasComponent.new(target: "sourcePannel", title: "Source") do |component| %>
    <%= component.body do %>
      <%= tag.pre do %>
        <%= tag.code source, class: "language-latex", id: "code" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>



  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Download", download_resume_path, class: "btn btn-primary btn-sm me-2" %>
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#sourcePannel" aria-controls="sourcePannel">
      View latex source
    </button>
  </div>


<%= render 'pdf' %>


<script type="module">
  import {hljs} from 'application'
  hljs.highlightAll();
</script>





