


<% content_for :offcanvas do %>
  <%= render OffCanvasComponent.new(target: "sourcePannel", title: "Source") do |component| %>
    <%= component.body do %>
      <%= tag.pre do %>
        <%= tag.code source, class: "language-latex", id: "code" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>



  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Download", '/static/docs/v1/romanchuk.pdf', class: "btn btn-primary me-2" %>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sourcePannel" aria-controls="sourcePannel">
      View latex source
    </button>
  </div>


<%= render 'pdf' %>





