

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sourcePannel" aria-controls="sourcePannel">
  View latex source
</button>

<% content_for :offcanvas do %>
  <%= render OffCanvasComponent.new(target: "sourcePannel", title: "Source") do |component| %>
    <%= component.body do %>
      <%= tag.pre do %>
        <%= tag.code source, class: "language-latex", id: "code" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<% content_for :pdf do %>
  <%= render 'pdf' %>
<% end %>




