<tr>
  <td><%= blob.slug %></td>
  <td><%= blob.content_type %></td>
  <td>
    <%= link_to "Edit", edit_blob_path(id: blob) %>
    <% if blob.image? -%>
      <%= link_to 'Serve', serve_image_path(id: blob.slug || blob.id) %>
    <% else -%>
      <%= link_to 'Serve', serve_video_path(id: blob.slug || blob.id) %>
    <% end -%>
  </td>
</tr>
