<%= turbo_frame_tag "edit_image" do %>
  <%= tag.div class: 'row justify-content-center' do %>
    <%= tag.div class: 'col-12 col-md-10 col-lg-8' do %>
      <h1>Edit image</h1>
      <h6><%= image.id %></h6>
      <div class="d-flex">
        <%= button_to "Destory", image_path(image), method: :delete, class: 'btn btn-danger btn-sm', data: {turbo_method: :delete}, form_class: ''  %>
      </div>
      <div class="card shadow-sm">
        <%= image_tag image.key, class: 'card-img-top' %>
      </div>
      <%= turbo_frame_tag image do %>
        <%= render 'form' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>