
<%= turbo_frame_tag raw_report do %>
<div class="col pb-3">
  <table class="table table-borderless table-sm fluid">
    <tbody class="">
      <tr class="">
        <%# <td class="w-25 fw-semibold">PIREP Text</td> %>
        <td colspan="2" class="bg-warning bg-gradient"><span class=""><%= raw_report.raw_text %><span></td>
      </tr>
      <tr class=""> 
        <td class="w-25 fw-semibold">Observed at</td>
        <td class=""><%= raw_report.observation_time %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Aircraft type:</td>
        <td class=""><%= raw_report.aircraft_ref %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Location</td>
        <td class=""><%= "#{raw_report.latitude}#{raw_report.longitude}" %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Flight level:</td>
        <td class=""><%= raw_report.altitude_ft_msl %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Sky Conditions</td>
        <td class=""><%= raw_report.sky_condition %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Icing Conditions</td>
        <td class=""><%= raw_report.icing_condition %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Turbulance Conditions</td>
        <td class=""><%= raw_report.turbulence_condition %></td>
      </tr>
      <tr class="">
        <td class="w-25 fw-semibold">Remarks</td>
        <td class=""><%= raw_report.remarks %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>