<p style="color: green"><%= notice %></p>

<h1>Raw reports</h1>
<%= turbo_stream_from :raw_reports %>
<%= turbo_frame_tag :raw_reports do %>
  <%= render raw_reports %>
  <%= render "pager" %>
<% end %>


