<% content_for(:page_title) { 'New post' } %>
<%= tag.div class: 'row justify-content-center' do %>
  <%= tag.div class: 'col-12 col-md-10 col-lg-8' do %>
    <h1>New Post</h1>
    <%= turbo_frame_tag @new_post do %>
      <%= simple_form_for @new_post, url: posts_path,  html: { data: { controller: :post, turbo_frame: :_top} } do |f| %>
        <%= f.error_notification %>
        <%= f.input :title %>
        <%= f.input :description, as: :text %>
        <%= f.input :markdown_content, value: @new_post.markdown_content, input_html: { rows: "15", data: {post_target: :markdown} } %>
        <%= f.input :html_content, value: @new_post.html_content, input_html: { rows: "5", data: {post_target: :html} } %>
        <%= f.input :tags_as_string, as: :string %>
        <%= f.input :published %>
        <%= f.button :submit, class: "btn-primary", data: {action: "post#save"}  %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
