<%= provide(:page_title, 'The Romanchuk Open') %>
<%= provide(:canonical_url, romanchuk_open_tournaments_url(host: 'romanchukopen.com')) %>


<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">The Romanchuk Open</h1>
      <p class="lead text-muted">July 2022</p>
      <p>
        <%= link_to "All players", romanchuk_open_players_path %>
      </p>
    </div>
  </div>
</section>

<section class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% tournaments.each do |t| %>
        <div class="col">
          <div class="card">
            <%= link_to romanchuk_open_tournament_path(t) do %>
              <%= image_tag "#{t.poster_image}", class: 'card-img' %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= "#{t.title} #{t.ocurred_on&.year}" %></h5>
              <p class="card-text"><%= t.city %></p>
              <% if t.newsletter %>
                <%= link_to "Newsletter", newsletter_romanchuk_open_tournament_path(t), class: 'card-link' %>
              <% end %>
              <%# link_to "Participants", players_romanchuk_open_tournament_path(t), class: 'card-link' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>