<% content_for :page_title, tournament.title %>

<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= tournament.title %></h1>
      <p class="lead text-muted"><%= tournament.ocurred_on&.strftime("%B, %Y") %></p>
      <% if current_user %>
        <div class="hstack gap-2 justify-content-center">
          <%= link_to "Edit", edit_romanchuk_open_tournament_path(tournament), class: 'btn btn-sm my-2', data: { turbo_action: "replace" } %>
          <%= button_to "Destory", romanchuk_open_tournament_path(tournament), method: :delete, class: 'btn btn-sm btn-danger my-2', data: {turbo_method: :delete}, form_class: ''  %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="album py-5 bg-light">
  
  <div class="container">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% tournament.images.each do |image| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag image.key, class: 'card-img-top' %>
            <div class="card-body">
              <%= link_to 'Edit', edit_image_path(image), class: 'card-link' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>