<% content_for(:page_title) { 'Experiments and playgrounds' } %>
<p>Experiments, playgrounds, and code pens.</p>
<section>
  <h6>three.js viewers</h6>
  <ul>
    <li><%= link_to "X-Plane mesh with Z19 geotiff", page_path("three"), data: { turbo: false } %></li>
    <li><%= link_to "Simventure 2022 gtlf models", page_path("pe"), data: { turbo: false } %></li>
  </ul>
</section>
<section>
  <h6>Google's model-viewer</h6>
  <ul>
    <li><%= link_to "Wittman Regional Airport Tower, gtlf model", "/static/pe_kosh_tower/index.html", data: { turbo: false } %></li>
    <li><%= link_to "Cessna 177 (Lidar scan)", page_path("c177"), data: { turbo: false } %></li>
  </ul>
</section>
<section>
  <h6>Lidar elevation with Potree</h6>
  <ul>
    <li><%= link_to "Entwine point cloud (USGS DEM Lidar)", page_path("potree"), data: { turbo: false } %></li>
  </ul>
</section>
<section>
  <h6>Random</h6>
  <ul>
    <li><%= link_to "FCM for browsers", page_path("fcm") %></li>
  </ul>
</section>
