
<div class="container">
  <%= simple_form_for image, url: ro_image_path(image), method: :put,  html: { data: {turbo_method: :put, turbo_frame: :_top} } do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, as: :string %>
    <%= f.input :caption, as: :text %>
    <%= f.input :tags_as_string, as: :string %>
    <%= f.input :slug %>
    <%= f.association :tournament %>
    <%= f.file_field :file %>
    <%= f.submit class: "btn" %>
  <% end %>
</div>