<%= provide :page_title, 'Most recent TAFs' %>

<div class="card">
  <div class="card-header">
    <%= form_with(url: wx_tafs_path, method: :get, data: {controller: "search", search_target: "form", turbo_frame: 'tafs'}, class: 'd-flex') do |f| %>
      <%= f.text_field(:station_id, class: "form-control", placeholder: "Location ID...", data: {action: 'input->search#submit', search_target: 'input'}) %>
    <% end %>
  </div>
  <%= turbo_frame_tag :tafs do %>
    <div class="card-body">
      <%= render tafs %>
    </div>
    <div class="card-footer text-muted">
      <%# Helper Dependency Updated: Sep 14, 2022 at 4pm %>
      <%= render PagerComponent.new(dr_pagy, previous_path: wx_tafs_path(page: dr_pagy.prev, filter: params[:filter]), next_path: wx_tafs_path(page: dr_pagy.next, filter: params[:filter])) %>
    </div>
  <% end %>
</div>
