<% if current_user %>
  <div class="d-flex">
    <%= link_to "Edit", edit_user_path(user), class: 'btn btn-link btn-sm', data: { turbo_action: "replace" } %>
    <%= link_to "Back to users", users_path %>
    <%= button_to "Destory", user_path(user), method: :delete, class: 'btn btn-danger btn-sm', data: {turbo_method: :delete}, form_class: ''  %>
  </div>
<% end %>
<%= turbo_frame_tag user do %>
  <%= render user %>
<% end %>
<%= ap(amzn_oidc_data, html: true, plain: true, ruby19_syntax: true).html_safe  %>
