<%= turbo_frame_tag batch_file do %>
  <div class="col pb-3">
    <table class="table table-borderless table-sm responsive">
      <tbody class="">
        <tr class="">
          <td class="w-25 fw-semibold">Created at</td>
          <td class=""><%= batch_file.created_at %></td>
        </tr>
        <tr class="">
          <td class="w-25 fw-semibold">Source type</td>
          <td class=""><%= batch_file.source_type %></td>
        </tr>
        <tr class=""> 
          <td class="w-25 fw-semibold">Source etag</td>
          <td class=""><%= batch_file.source_etag %></td>
        </tr>
        <tr class="">
          <td class="w-25 fw-semibold">Content length</td>
          <td class=""><%= batch_file.content_length_bytes %></td>
        </tr>
        <tr class="">
          <td class="w-25 fw-semibold">Records</td>
          <td class=""><%= batch_file.num_records_processed %></td>
        </tr>
        <tr class="">
          <td class="w-25 fw-semibold">Processed at</td>
          <td class=""><%= batch_file.num_records_processed %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>