<%= turbo_frame_tag batch_file do %>
  <div>
    <h1><%= batch_file.key %></h1>
    <p><%= batch_file.source_url %></p>
    <p><%= batch_file.source_type %></p>
    <p><%= batch_file.source_etag %></p>
    <p><%= batch_file.num_records_processed %></p>
    <p><%= batch_file.content_length_bytes %></p>
  </div>
<% end %>