<!DOCTYPE html>
<html>
  <head>
    <title>Ryan Romanchuk</title>
    

    <meta content="Programmer" property="og:description" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="content">
          <%= render "layouts/flash" %>
          <%= yield %>
        </div>
        <div id="modals">
          <%= yield :modals %>
        </div>
        <div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11"></div>
      </div>
    </main>
  </body>
</html>
