<!DOCTYPE html>
<html>
  <head>
    <title>Ryan Romanchuk</title>
    <meta name="apple-itunes-app" content="app-id=1109640290, app-argument=https://getspar.com/pid/personal">
    <meta content="Programmer" name="description" />
    <meta content="https://github.com/rromanchuk" name="github" />
    <meta content="http://stackoverflow.com/users/775762/ryan-romanchuk" name="stackoverflow" />
    <meta content="ua0bOK-G5Ddcx6e_Dz-Sl6J3lym5fRFPd3m5Z1ljLGU" name="google-site-verification" />
    <meta content="Programmer" property="og:description" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
