<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <%= render 'shared/gtm' %>
    <%= render 'shared/meta' %>
      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag *style_tags, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= yield :head %>
    <%= yield :canonical_link_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <%= render 'application/favicon' %>

    <meta
      name="theme-color"
      content="#eeeeee"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#111111"
      media="(prefers-color-scheme: light)"
    />
  </head>
  <body class="h-100 d-flex flex-column">
    <div class="container">
      <%= render 'shared/nav' %>
      <div class="row justify-content-between">
        <main class="col">
          <%= yield %>
          <%= render 'shared/honeypot' %>
        </main>
        <% if content_for?(:right_col) %>
          <div class="col-lg-4 d-none d-lg-block">
            <%= turbo_frame_tag :right_col do %>
              <%= yield(:right_col) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= yield :offcanvas %>
      <%= turbo_frame_tag "modal", target: '_top' %>
      <div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <% flash.each do |key, value| %>
          <%= render 'shared/toast', body: value %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/current_user' %>
    <%= render 'shared/footer' %>
    <%# <script type="module">
      import { firebase } from "application";
      import { getInstallations, getId } from "firebase/installations";
      
      const installations = getInstallations(firebase)
      const installationId = await getId(installations);
      console.log(installationId);

      document.cookie = "iid=" + installationId + "; SameSite=Lax; Secure";
    </script> %>
    <%= turbo_frame_tag "apple_signin" %>
    <% if Rails.env.development? %>
      <%= console %>
    <% end %>
  </body>
</html>