<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag *style_tags, "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <% yield :head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <%= render 'application/favicon' %>

    <meta
      name="theme-color"
      content="#eeeeee"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#111111"
      media="(prefers-color-scheme: light)"
    />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://metrics.romanch.uk/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MBP9J44');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body class="h-100 d-flex flex-column">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://metrics.romanch.uk/ns.html?id=GTM-MBP9J44"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <%= render 'shared/nav' %>
      <div class="row">
        <main class="col-lg-8 col-12">
          <%= yield %>
        </main>
        <div class="col-lg-4 d-none d-lg-block">
          <%= turbo_frame_tag :right_col do %>
            <% if current_user&.me? %>
              <%# render SearchComponent.new %>
              <%= render CategoriesComponent.new %>
              <%= yield(:right_col) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "modal", target: '_top' %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>