<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag *style_tags, "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <%= yield :canonical_link_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <%= render 'application/favicon' %>

    <meta
      name="theme-color"
      content="#eeeeee"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#111111"
      media="(prefers-color-scheme: light)"
    />
  </head>
  <body class="h-100 d-flex flex-column">
    <%= render 'shared/noscript' %>
    <div class="container">
      <%= render 'shared/nav' %>
      <div class="row">
        <main class="col-lg-8 col-12">
          <%= yield %>
        </main>
        <div class="col-lg-4 d-none d-lg-block">
          <%= turbo_frame_tag :right_col do %>
            <%# render SearchComponent.new %>
            <%= render CategoriesComponent.new %>
            <%= yield(:right_col) %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "modal", target: '_top' %>
      <div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <% flash.each do |key, value| %>
          <%= render 'shared/toast', body: value %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>