<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
