<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/video.js@7.18.1/dist/video-js.min.css" rel="stylesheet">
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="content">
          <%= yield %>
          <%= render VideoComponent.new %>
        </div>
      </div>
    </main>
  </body>
</html>
