<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <%= yield %>
        <%= link_to "Modal", resume_video_path(key: :l35), class: "btn btn-primary me-2", data: { turbo_frame: 'modal' } %>
      </div>
    </main>
  </body>
</html>
