<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/gtm' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/honeypot' %>
  </body>
</html>
