<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
    <%= yield :head %>

    <% if breadcrumbs? -%>
      <%= tag.script breadcrumb_json_ld(breadcrumbs).target!.html_safe, type: "application/ld+json" %>
    <% end -%>

    <% if content_for?(:canonical_url) -%>
      <%= tag.link href: content_for(:canonical_url), rel: 'canonical' %>
    <% end -%>

    <% if content_for?(:page_title) -%>
      <%= tag.title content_for(:page_title) %>
      <%= tag.meta property: 'og:title', content: content_for(:page_title) %>
    <% end -%>

    <% if content_for?(:page_description) -%>
      <%= tag.meta name: 'description', content: content_for(:page_description) %>
      <%= tag.meta property: 'og:description', content: content_for(:page_description) %>
    <% end -%>

    <% if content_for?(:page_keywords) -%>
      <%= tag.meta name: 'keywords', content: content_for(:page_keywords) %>
    <% end -%>

    <% if content_for?(:share_image) -%>
      <%= tag.meta property: 'og:image', content: content_for(:share_image) %>
    <% end -%>

    <%= render 'application/gtm' %>
  </head>

  <body>
    <nav aria-label="breadcrumb" class="navbar navbar-dark shadow-sm">
      <div class="container-sm">
        <%= render BreadcrumbComponent.new(breadcrumbs) %>
      </div>
    </nav>
    
    <%= yield %>
    <%= render 'application/honeypot' %>
  </body>
</html>
