<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/gtm' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
    <% if breadcrumbs? %>
      <title><%= breadcrumbs_to_s %></title>
      <meta property="og:title" content="<%= breadcrumbs_to_s %>">
      <script type="application/ld+json">
        <%= breadcrumb_json_ld(breadcrumbs).target!.html_safe %>
      </script>
    <% elsif content_for?(:page_title) %>
      <title><%= yield(:page_title) %></title>
      <meta property="og:title" content="<%= yield(:page_title) %>">
    <% end %>

    <% if content_for?(:share_image) %>
      <meta property="og:image" content="<%= yield(:share_image) %>">
    <% end %>

    <% if content_for?(:canonical_link_tag) %>
      <%= yield :canonical_link_tag %>
    <% end %>
  </head>

  <body>
    <nav aria-label="breadcrumb" class="navbar navbar-dark shadow-sm">
      <div class="container-sm">
        <%= render BreadcrumbComponent.new(breadcrumbs) %>
      </div>
    </nav>
    
    <%= yield %>
    <%= render 'shared/honeypot' %>
  </body>
</html>
