<%= simple_form_for tournament, html: { data: {turbo_frame: :_top} } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :ocurred_on, as: :date, html5: true %>
  <%= f.input :newsletter %>
  <%= f.input :location %>
  <%= f.input :city %>
  <%# f.association :ro_photo_blobs, as: :check_boxes %>
    
    <%= f.simple_fields_for :ro_photo_blobs do |blob| %>
      <%# blob.input :key, as: :file, input_html: { multiple: true } %>
      <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto"><%= blob.input :key  %></div>
        <div class="col-auto"><%= blob.input :title%></div>
        <div class="col-auto"><%= blob.input :content_type, value: "image/jpeg" %></div>
      </div>
    <% end %>

  <%= f.submit class: "btn-primary" %>
<% end %>
