<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark light" />    
    <meta content="ua0bOK-G5Ddcx6e_Dz-Sl6J3lym5fRFPd3m5Z1ljLGU" name="google-site-verification" />

    
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.css",data: {turbo_track: :reload} %>
    <%= stylesheet_link_tag "bootstrap.css", data: {turbo_track: :reload} %>
    <%= stylesheet_link_tag "video-js.css", data: {turbo_track: :reload} %>
    <%= javascript_importmap_tags %>
    
    <%= yield :head %>

    <% if breadcrumbs? %>
      <%= tag.script breadcrumb_json_ld(breadcrumbs).target!.html_safe, type: "application/ld+json" %>
    <% end %>
    
    <% if content_for?(:canonical_url) -%>
      <%= tag.link href: content_for(:canonical_url), rel: 'canonical' %>
    <% end -%>

    <% if content_for?(:page_title) -%>
      <%= tag.title content_for(:page_title) %>
      <%= tag.meta property: 'og:title', content: content_for(:page_title) %>
    <% end %>

    <% if content_for?(:page_description) -%>
      <%= tag.meta name: 'description', content: content_for(:page_description) %>
      <%= tag.meta property: 'og:description', content: content_for(:page_description) %>
    <% end -%>

    <% if content_for?(:page_keywords) -%>
      <%= tag.meta name: 'keywords', content: content_for(:page_keywords) %>
    <% end -%>

    <% if content_for?(:share_image) %>
      <%= tag.meta property: 'og:image', content: content_for(:share_image) %>
    <% end %>

    <%# render 'gtm' %>
    <%#% render 'application/favicon' %>
    
    <meta
      name="theme-color"
      content="#eeeeee"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#111111"
      media="(prefers-color-scheme: light)"
    />
  </head>
  <body class="h-100 d-flex flex-column">
    <div class="container">
      <%= render 'ryan_romanchuk/application/nav' %>
      <%= render(BreadcrumbComponent.new(breadcrumbs, nil)) if breadcrumbs? %>
      <div class="row justify-content-between mt-2">
        <main class="col">
          <%= yield %>
          <%= render 'ryan_romanchuk/application/honeypot' %>
        </main>
        <% if content_for?(:right_col) %>
          <div class="col-lg-4 d-none d-lg-block">
            <%= turbo_frame_tag :right_col do %>
              <%= yield(:right_col) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= yield :offcanvas %>
      <%= turbo_frame_tag "modal", target: '_top' %>
      <div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <% flash.each do |key, value| %>
          <%= render 'ryan_romanchuk/application/toast', body: value %>
        <% end %>
      </div>
    </div>
    <%# render 'application/current_user' %>
    <%= render 'ryan_romanchuk/application/footer' %>
    <%= turbo_frame_tag "ryan_romanchuk/application/apple_signin" %>
    <%= turbo_frame_tag "ryan_romanchuk/application/search_results" %>
    <% if Rails.env.development? -%>
      <%# console %>
    <% end -%>
    <script src="/static/videojs/video.min.js"></script>
  </body>
</html>