<% content_for(:page_title) { 'Most recent batch files' } %>

<section>
<div class="row row-cols-2 row-cols-md-4 g-4">
  <div class="col">
    <div class="card" style="width: 10rem;">
      <div class="card-body text-center">
        <p class="card-title">Pending batches</p>
        <p class="card-text h5 text-warning"><%= number_with_delimiter(Wx::Batch.pending.count) %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 10rem;">
      <div class="card-body text-center">
        <p class="card-title">Completed</p>
        <p class="card-text h5 text-success"><%= number_with_delimiter(Wx::Batch.complete.count) %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 10rem;">
      <div class="card-body text-center">
        <p class="card-title">PIREPs</p>
        <p class="card-text h5 text-success"><%= tag.span number_with_delimiter(Wx::Pirep.count) %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 10rem;">
      <div class="card-body text-center">
        <p class="card-title">AIREPs</p>
        <p class="card-text h5 text-success"><%= tag.span number_with_delimiter(Wx::Airep.count) %></p>
      </div>
    </div>
  </div>
</div>
</section>

<div class="mt-3 d-grid gap-2 d-md-flex">
  <%= button_to "1. Ingest", ingest_wx_batches_path, method: :put, class: "btn btn-sm btn-primary", data: {turbo_method: :put} %>
  <%= button_to "2. Process", process_csv_wx_batches_path, method: :put, class: "btn btn-sm btn-primary", data: {turbo_method: :put} %>
</div>

<hr/>
<%= turbo_stream_from :batches %>
<%= turbo_frame_tag :batches do %>
  <%= render batches %>
  <%= render 'pager' %>
<% end %>