<%= form_with(url: aircraft_type_designators_path, method: :get, data: {controller: "search", search_target: "form", turbo_frame: 'aircraft_type_designators'}, class: 'd-flex') do |f| %>
  <%= f.text_field(:q, class: "form-control", placeholder: "Cessna Cardinal", data: {action: 'input->search#submit', search_target: 'input'}) %>
<% end %>

<%= turbo_frame_tag :aircraft_type_designators do %>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
          <th>Type</th>
          <th>Manufacturer</th>
          <th>Models</th>
      </tr>
    <thead>
    <tbody>
      <% icao_types.each do |icao_type| %>
        <tr>
          <td><%= link_to icao_type.icao_code, aircraft_type_designator_path(icao_type),  data: {turbo_action: :advance, turbo_frame: :_top} %></td>
          <td><%= icao_type.manufacturer %> </td>
          <td><%= icao_type.model %> <%# icao_type.other_models&.join(" ") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'pager' %>
<% end %>