<%# turbo_frame_tag "new_post", target: "_top" %>

<% content_for(:page_title) { 'All snippets' } %>

<p>Personal pastebin-like snippets for myself, and because it's more fun than sending myself slack messages.</p>
<% if current_user&.me? %>
  <%= link_to "New post", new_post_path, data: { turbo_action: :replace } %>
<% end %>
<hr />

<%= turbo_stream_from :posts %>
<%= turbo_frame_tag :posts, autoscroll: "true" do %>
  <div class="archive">
    <%= render posts %>
  </div>
  <%# pagy_nav(dr_pagy) %>
  <%= render "pager" %>
<% end %>
