<%- content_for(:page_title) { post.title } %>
<%- content_for(:page_author) { '' } %>
<%- content_for(:page_description) { post.description } %>
<%- content_for(:page_keywords) { post.tags_as_string } %>

<% content_for :json_ld do %>
  <script type="application/ld+json">
    <%= json_ld(post).html_safe %>
  </script>
<% end %>

<% content_for :canonical_link_tag do %>
  <link rel="canonical" href="<%= post_url(post, host: 'romanch.uk') %>" />
<% end %>

<script type="module">
  import {hljs} from 'application'
  hljs.highlightAll();
</script>

<%= turbo_frame_tag "edit_post", target: "_top" %>

<% if current_user %>
<div class="d-flex">
  <%= link_to "Edit", edit_post_path(post), class: 'btn btn-link btn-sm', data: { turbo_action: "replace" } %>
  <%= button_to "Destory", post_path(post), method: :delete, class: 'btn btn-danger btn-sm', data: {turbo_method: :delete}, form_class: ''  %>
</div>
<% end %>
<%= turbo_frame_tag post do %>
  <article class="post">
    <%= render PostHeaderComponent.new(post) %>
    <%= render PostBodyComponent.new(post) %>
  </article>
<% end %>