<%- content_for(:page_title) { post.title } %>
<%- content_for(:page_author) { '' } %>
<%- content_for(:page_description) { post.description } %>



<%= turbo_frame_tag post do %>
  <article class="post">
    <h1><%= post.title %></h1>
    <time datetime="<%= post.created_at %>" class="fs-4 text-muted"><%= post.created_at.strftime("%b %d, %y") %></time>
    <div class="mt-4"><%= markdown(post.body) %></div>
    <ul class="list-inline">
      <% post.tag_names.each do |name| %>
        <%= tag.li class: 'list-inline-item' do %>
          <%= link_to name, posts_path(q: name) %>
        <% end %>
      <% end %>
    </ul>
  </article>
<% end %>