<%- content_for(:page_title) { post.title } %>
<%- content_for(:page_author) { '' } %>
<%- content_for(:page_description) { post.description } %>
<%- content_for(:page_keywords) { post.tags_as_string } %>


<script type="application/ld+json">
  <%= post_json_ld(post).target!.html_safe %>
</script>


<% content_for :canonical_link_tag do %>
  <link rel="canonical" href="<%= post_url(post, host: 'romanch.uk') %>" />
<% end %>


<%= turbo_frame_tag "edit_post", target: "_top" %>

<% if current_user %>
<div class="d-flex">
  <%= link_to "Edit", edit_post_path(post), class: 'btn btn-link btn-sm', data: { turbo_action: "replace" } %>
  <%= button_to "Destory", post_path(post), method: :delete, class: 'btn btn-danger btn-sm', data: {turbo_method: :delete}, form_class: ''  %>
</div>
<% end %>
<%= turbo_frame_tag post do %>
  <article class="post">
    <%= render PostHeaderComponent.new(post) %>
    <%= render PostBodyComponent.new(post) %>
  </article>
<% end %>

<script type="module">
  // import { highlightInit } from 'initialize/highlight';
  // const hljs = highlightInit()
  // hljs.highlightAll();
</script>