<%= turbo_frame_tag pirep do %>
  <div class="col pb-3">
    <table class="table table-borderless table-sm fluid">
      <tbody class="">
        <tr class="">
          <%# <td class="w-25 fw-semibold">PIREP Text</td> %>
          <td colspan="2" class="<%= pirep.urgent? ? 'text-bg-warning' : 'text-bg-light' %>">
            <div class="d-flex justify-content-between">
              <span class=""><%= link_to pirep.raw_text, tds_pirep_path(pirep), data: {turbo_frame: :_top} %></span>
              <span class=""><%= link_to 'debug', debug_tds_pirep_path(pirep), data: {turbo_frame: :_top}, class: "fs-6 text-muted fw-lighter text-decoration-none" %></span>
            </div>
          </td>
        </tr>
        <%= render Wx::DefinitionRowComponent.new do |c| %>
          <% c.dt do %>
            From batch
          <% end %>
          <% c.dd do %>
            <%= link_to pirep.batch.key, tds_batch_path(pirep.batch), data: {turbo_frame: :_top} %>
          <% end %>
        <% end %>
        <%= render Wx::DefinitionRowComponent.new do |c| %>
          <% c.dt do %>
            Observed at
          <% end %>
          <% c.dd do %>
            <%= time_tag pirep.observation_time %> <span class="text-muted">(<%= time_ago_in_words(pirep.observation_time) %> ago)</span>
          <% end %>
        <% end %>
        <tr class="">
          <td class="w-25 fw-semibold">Aircraft type:</td>
          <td class="">
            <% if pirep.aircraft_type_designator -%>
              <%= link_to pirep.aircraft_ref, tds_aircraft_type_designator_path(pirep.aircraft_type_designator),  data: {turbo_frame: :_top}  %>
            <% else -%>
              <%= link_to pirep.aircraft_ref, tds_aircraft_type_designators_path(q: pirep.aircraft_ref),  data: {turbo_frame: :_top}  %>
            <% end -%>
          </td>
        </tr>
        <tr class="">
          <td class="w-25 fw-semibold">Location</td>
          <td class="">
            <%# link_to pirep.location.to_s, map_wx_pirep_path(pirep),  data: {turbo_action: :advance, turbo_frame: :modal}  %>
            <%# link_to pirep.location.to_s, tds_pireps_path(location: pirep.location), data: {turbo_action: :advance, turbo_frame: :pireps} %>
          </td>
        </tr>
        <%= render Wx::DefinitionRowComponent.new(flight_level?(pirep.altitude_ft_msl)) do |c| %>
          <% c.dt do %>
            Flight level:
          <% end %>
          <% c.dd do %>
            <%= flight_level(pirep.altitude_ft_msl) %>
          <% end %>
        <% end %>
        <% if pirep.sky_condition %>
          <tr class="">
            <td class="w-25 fw-semibold">Sky Conditions</td>
            <td class=""><%= sky_conditions(pirep.sky_condition) %></td>
          </tr>
        <% end %>
        <%= render partial: "icing_conditions", locals: {conditions: pirep.icing_condition} %>
        <% if pirep.turbulence_condition %>
          <tr class="">
            <td class="w-25 fw-semibold">Turbulance Conditions</td>
            <td class=""><%= turbulence_conditions(pirep.turbulence_condition) %></td>
          </tr>
        <% end %>
        <%= render Wx::DefinitionRowComponent.new(pirep.remarks) do |c| %>
          <% c.dt do %>
            Remarks
          <% end %>
          <% c.dd do %>
            <%= pirep.remarks %>
            <span class="readable d-none"><%= tei_replace(pirep.remarks) %></span>
          <% end %>
        <% end %>
        <%= render Wx::DefinitionRowComponent.new(pirep.station) do |c| %>
          <% c.dt do %>
            Station
          <% end %>
          <% c.dd do %>
            <%= link_to pirep.station, tds_pireps_path(station_id: pirep.station), data: {turbo_action: :advance, turbo_frame: :pireps} %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
